
.header{
  width:100%;
  background: url('image/border.gif') repeat-x;
}
.header h1 a{
  display:block;
  width:225px;
  height:56px;
  font-size: 40px;
  text-decoration:none;
  margin:0 auto;
  color:blue;
  text-align:center;
}

.main{
  width:970px;
  margin:30px auto 40px;
}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.image{
  float:right;
  margin:10px;
  height:300px;
  width:450px;
}






.footer{
  width:100%;
  background-color:#2d3d54;
}

.footer a{
  color:white;
  float:right;
  padding:10px 50px 0 0;
  font-size:1.6rem;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
.header, .footer{
  height:100px;
}
.main, {
  height:500px;
}

html{
  font-size:62.5%;
}
body{
  color:#333;
  font-size:1.2rem;
}
*,*::before,*::after{
  box-sizing:boder-box;
}
